body{
  background-color: black;
  margin: 0;
}
.row div{
  width: 30px;
  height: 30px;
  /*border: 1px solid black;*/
  display: inline-block
}

.row {
  height: 30px;
}
div.brick {
  background-color: blue;
}

div.coin {
  background: url("images/coin.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.empty {

}

#pacman {
  background: url("images/pacman.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
}
#score {
  width: 60px;
  height: 60px;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 300px;
  padding-top: 13px;
  box-sizing: border-box;
}
