.row {
  margin: 0px;
  display: inline-block;

}

.wrapper {
  width: 1500px;
  height: 1500px;
  background-color: black;
}
 .row div {
  width: 30px;
  height: 30px;
}
.row .coin{
  height: 30px;
  width: 30px;
}
.brick {
  background-color: blue;
}
.coin {
  background: url("images/coin.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#pacman {
  background: url("images/pacman.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
 
}
